.modal {
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 20px;
}

.modalContent {
    padding: 25px;
    background-color: white;
    border-radius: 16px;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

