.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}
